<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>Simple Student Templating Solutions</title>
  <meta charset="UTF-8">
  <meta name="viewport" content=
      "width=device-width, initial-scale=1.0">
   
  <style>
      body{
      /* padding: 10px; 3% 10% 3%; */
      text-align:center;
      }
      h1{
      color: #32a852;
      margin-top:30px;
      }
   
      button{
          display: block;
          float: right;
          cursor: pointer;
          border: 1px solid #555;
          align-content: center;
          text-align: center;
          padding: 5px;
      }

      .dark{
          background-color: #222;
          color: #e6e6e6;
      }
  </style>
</head>
   
  <script>

      if(typeof mode == "undefined"){
        mode = false;
      }
      
      function myFunction() {

      var element = document.body;
      element.classList.toggle("dark");
      localStorage.setItem("mode", !mode);
      }
  </script>
  
<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><button onclick="myFunction()">Switch mode</button></li>
</ul>
</p>
<center><h2>Simple Student Templating Solutions</h2>


<h3><i>Because the usability is more important than the back end for now.</i></h3>

<p>
